.additional-catalog {
  padding: 27px 0 35px;

  @media (min-width: @tablet-width) {
    padding-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 37px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: @desktop-width) {
      grid-template-columns: 1fr auto;
      column-gap: 79px;

      padding-top: 80px;
    }
  }
}

.additional-catalog__title {
  margin-bottom: 36px;

  @media (min-width: @desktop-width) {
    grid-column: 1/-1;
  }
}

.additional-catalog__list {
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    margin: 71px 37px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.additional-catalog__promo {
  margin-top: 15px;

  @media (min-width: @tablet-width) {
    margin-top: 69px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    align-self: center;
  }
}
