.additional-product-list {
  .list();
}

.additional-product-list__item {
  color: @grey;
  border-top: @list-item-border;

  &:last-child {
    border-bottom: @list-item-border;
    margin: 0;
  }
}
