.additional-info {
  .fieldset-style();
}

.additional-info__title {
  margin-bottom: 34px;
}

.additional-info__field {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.additional-info__label {
  .input-text(@black);
}

.additional-info__input {
  display: none;
}
