.catalog-promo {
  height: 299px;
  padding: 0;
  .promo-background(url("../../../img/promo-image@1x.jpg"));
}

.catalog-promo__text {
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: @white;
}
