.comments {
  .fieldset-style();
}

.comments__title {
  margin-bottom: 37px;
}

.comments__field {
  padding-top: 9px;
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;

  border: none;
  text-align: center;

  .input-text(@grey);

  @media (min-width: @tablet-width) {
    text-align: left;
    padding-left: 19px;
  }
}
