.contacts-form {
  .fieldset-style();
  margin-right: 0;

  @media (max-width: @mobile-width-only) {
    margin-left: 0;
  }
}

.contacts-form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 38px;

  @media (min-width: @tablet-width) {
    margin-top: 77px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.contacts-form__title {
  margin-bottom: 35px;

  @media (max-width: @mobile-width-only) {
    width: 220px;
  }
}

.contacts-form__field {
  position: relative;
  .input-text(@grey);
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 280px;

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: @tablet-width) {
      margin-bottom: 28px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
      margin-right: 35px;
    }
  }

  @media (min-width: @tablet-width) {
    max-width: 631px;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
    max-width: 570px;
  }
}

.contacts-form__label {
  white-space: nowrap;
  letter-spacing: -0.3px;
}

.contacts-form__icon {
  position: absolute;
  right: 16px;

  &--email {
    stroke: @super-dark-grey;
  }

  &--phone {
    fill: @black;
  }

  @media (min-width: @desktop-width) {
    top: 11px;
    right: 19px;
  }
}

.contacts-form__input {
  flex-grow: 1;
  margin-left: 10px;
  padding-right: 34px;

  letter-spacing: -0.3px;

  &:focus ~ .contacts-form__icon {
    &--email {
      stroke: @basic-green;
    }

    &--phone {
      fill: @basic-green;
    }
  }

  &:focus:invalid ~ .contacts-form__icon {
    &--email {
      stroke: @error-color;
    }

    &--phone {
      fill: @error-color;
    }
  }

  @media (min-width: @tablet-width) {
    margin-left: 15px;
  }

  @media (min-width: @desktop-width) {
    min-width: 495px;
  }
}
