.contacts__info {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  margin-bottom: 8px;

  @media (min-width: @tablet-width) {
    padding: 60px 0 30px 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 80px 20px;
  }
}

.contacts__partnership-text {
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: @light-black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.3;
  }
}

.contacts__address {
  font-family: @font-arial;
  font-size: 14px;
  line-height: 1.43;
  color: @grey;

  @media (max-width: @mobile-width-only) {
    br:last-child {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1.25;
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    text-align: right;

    margin-right: 40px;
  }
}
