.effect-info {
  padding: 0;
}

.effect-info__list {
  .list();

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.effect-info__item {
  display: grid;
  grid-template-columns: 77px 1fr;
  align-items: center;

  padding: 21px 0 19px 18px;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 288px;
    padding: 21px 0 52px 53px;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 181px 1fr;
    padding: 41px 0 52px 55px;
    margin-top: 82px;

    &:first-child {
      margin-right: 80px;
    }
  }
}

.effect-info__title {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.effect-info__icon {
  grid-column: 1/2;
  grid-row: 1/2;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    justify-self: end;

    &--slim {
      width: 211px;
    }

    &--pro {
      width: 268px;
    }
  }

  @media (min-width: @desktop-width) {
    justify-self: start;

    &--slim {
      width: 100px;
    }

    &--pro {
      width: 134px;
    }
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    grid-column: 2/3;
    grid-row: 1/4;
  }
}

.effect-info__description {
  grid-column: 1/-1;
  // margin: 29px 33px 28px 20px;
  margin: 22px 0 15px;
  padding-bottom: 22px;
  border-bottom: @element-border;
  color: @grey;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    grid-column: 1/2;
  }
}

.effect-info__link {
  grid-column: 1/-1;
  padding: 4px 0;
  // margin-left: 19px;
  // margin-bottom: 18px;
  width: 132px;
  height: 25px;

  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 165px;
    height: 38px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    grid-column: 1/2;
  }
}
