.effect-info {
  padding: 0;
}

.effect-info__list {
  .list();
}

.effect-info__item {
  padding: 0 18px 19px 18px;
  margin-top: 20px;
}

.effect-info__title {
  margin-top: 30px;
}

.effect-info__description {
  margin: 29px 33px 28px 20px;
  color: @grey;
}

.effect-info__link {
  margin-left: 19px;
  margin-bottom: 18px;
}
