.example {
}

.example__title {
  margin: 74px 0 40px 0;
}

.example__description {
  margin-bottom: 20px;
}

.example__stats {
}

.example__cost-info {
  font-family: @font-oswald;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.example__visualisation {
  margin: 40px 0 40px 0;
}
