.form {
  padding: 0;
}

.form__wrapper {
  .container();
  display: flex;
  flex-direction: column;

  &--columns {
    @media (min-width: @desktop-width) {
      flex-direction: row;
      margin-bottom: 65px;
    }
  }
}

.form__user-info {
  flex-grow: 1;
  margin-bottom: 49px;
  margin-right: 80px;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
  }
}

.form__program-choice {
  flex-grow: 1;
  margin-bottom: 45px;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
  }
}

.form__contacts {
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
  }
}

.form__comments {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.form__additional-info {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 61px;
  }
}

.form__footer {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
  }

  margin-bottom: 32px;
}

.form__submit {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 21px;
  }
}

.form__legend {
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-left: 61px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 81px;
  }
}
