@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened {
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 100;
    width: 100%;
    min-height: 214px;
    background-color: @white;
  }

  .main-nav__list {
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__list {
  .list();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  width: 24px;
  height: 16px;
  border: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--opened {
  .main-nav__toggle {
    top: -55px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      z-index: 10;
      top: 22px;
      left: 0;
      width: 25px;
      height: 2px;
      background-color: @black;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  content: "";
  top: 24px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: @black;
  box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
}
