.page {
  font-family: @font-arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
}

.page__body {
  background-color: @page-background-color;
  color: @page-text-color;
}
