.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "card-img card-title"
    "card-img card-info"
    "card-btn card-btn";

  justify-content: center;
  align-items: center;
  padding: 11px 0 14px 0;

  @media (min-width: @tablet-width) {
    padding: 0 38px 39px 38px;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "card-img"
      "card-title"
      "card-info"
      "card-btn";
  }
}

.product-card__title {
  grid-area: card-title;
  margin-bottom: 18px;

  @media (max-width: @mobile-width-only) {
    justify-self: start;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 21px;
  }
}

.product-card__info.info-list {
  grid-area: card-info;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;
  }
}

.product-card__order-button {
  grid-area: card-btn;
  align-self: end;

  margin: 0;
  width: 100%;
}

.product-card__link-img {
  grid-area: card-img;
}

.product-card__image {
  justify-self: center;
  align-self: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 46px;
  }
}
