.program {
  padding: 44px 0 32px 0;
}

.program__title {
  margin-bottom: 37px;
}

.program__description {
  font-family: @font-oswald;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;

  margin-bottom: 39px;
}

.program__form {
  margin: 0;
}
