.program-choice {
  .fieldset-style();
  .input-text(@super-dark-grey);

  letter-spacing: -0.6px;

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding: 25px 28px;
    border: @input-border;
  }
}

.program-choice__field {
  position: relative;
  display: flex;
  align-items: center;

  height: 30px;
  padding: 3px 0 0 45px;

  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 13px;

    @media (min-width: @tablet-width) {
      margin-bottom: 23px;
      padding-left: 60px;

      letter-spacing: -0.5px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 57px;
  }
}

.program-choice__option {
  .input-hidden();
}

.program-choice__indicator {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 2px;
  left: -2px;
  background-image: url("/img/inputs/radiobutton.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    top: -5px;
  }
}

.program-choice__option:checked ~ .program-choice__indicator::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 8px;
  left: 8px;
  background-image: url("/img/inputs/radiobutton-checked.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
    top: 12px;
    left: 12px;
  }
}

.program-choice__field:hover .program-choice__indicator {
  background-image: url("/img/inputs/radiobutton_hover.svg");
}
