.promo {
  display: grid;
  grid-template-rows: 300px auto;

  color: @white;

  @media (min-width: @desktop-width) {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}

.promo .container {
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 50;

  display: grid;
  grid-template-rows: auto auto 40px;

  @media (min-width: @tablet-width) {
    grid-template-rows: auto auto;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    padding-top: 141px;
  }
}

.promo__background {
  grid-column: 1/-1;
  grid-row: 1/2;

  .promo-background(url("../../img/index-background-mobile@1x.jpg"));

  @media (min-resolution: 2dppx) {
    .promo-background(url("../../img/index-background-mobile@2x.jpg"));
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    background: @white;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    grid-row: 1/-1;

    .promo-background(url("../../img/index-background-desktop@1x.jpg"));

    @media (min-resolution: 2dppx) {
      .promo-background(url("../../img/index-background-desktop@2x.jpg"));
    }
  }
}

.promo__header {
  padding: 27px 0 29px 0;
  margin: 0;

  grid-column: 1/-1;
  grid-row: 1/2;

  @media (min-width: @tablet-width) {
    justify-self: start;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
  }
}

.promo__title {
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 41px;
    text-align: left;
  }
}

.promo__slogan {
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 49px;
    text-align: left;
  }
}

.promo__image {
  @media (min-width: @tablet-width) {
    grid-row: 2/-1;
    grid-column: 1/-1;

    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1/-1;
    grid-column: 2/-1;

    width: 552px;
    height: 499px;
  }
}

.promo__button {
  display: flex;
  align-items: center;
  justify-content: center;

  align-self: end;

  @media (min-width: @tablet-width) {
    grid-row: 2/3;
    grid-column: 1/-1;
    align-self: start;
    z-index: 100;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
  }
}
