.site-list {
  background: @white;
  color: @black;
  font-family: @font-oswald;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
}

.site-list__item {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 46px;
  }
}
