.slider {
  padding: 40px 0;
}

.slider__items {
  .list();
}

.slider__item {
  width: 100%;
  margin-bottom: 15px;
}

.slider__button {
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;

  border: none;
}
