.to-catalog-link {
  padding: 4px 0;
  width: 134px;
  height: 24px;

  font-family: @font-oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  &:active {
    color: fade(@black, 30);
  }
}
