@font-face {
  font-family: "Oswald";
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/oswaldregular.woff2") format("woff2"), url("../../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: medium;
  font-style: normal;
  src: url("../../fonts/oswaldmedium.woff2") format("woff2"), url("../../fonts/oswaldmedium.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  background-color: #ffffff;
  color: #000000;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hidden {
  display: none;
}
.container {
  box-sizing: content-box;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0 110px;
  }
}
.header {
  padding: 10px 0 28px 0;
  grid-column: 1/-1;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .header {
    padding: 66px 0 24px 0;
  }
}
@media (min-width: 1440px) {
  .header {
    padding: 53px 0 29px 0;
    z-index: 1000;
    background: transparent;
  }
}
.header .container {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .header .container {
    justify-content: space-between;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  height: 38px;
}
@media (min-width: 768px) {
  .header__logo {
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .header__logo {
    height: 59px;
  }
}
.header__logo-img {
  width: 190px;
  margin-right: 56px;
}
@media (max-width: 767px) {
  .header__logo-img {
    width: 33px;
  }
}
.header__logo-text {
  width: 101px;
  padding-top: 7px;
}
@media (min-width: 768px) {
  .header__logo-text {
    display: none;
  }
}
.logo {
  padding: 0;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .logo__img {
    width: 174px;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .logo__img {
    width: 202px;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
  .main-nav--opened {
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 100;
    width: 100%;
    min-height: 214px;
    background-color: #ffffff;
  }
  .main-nav__list {
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.main-nav.no-js .main-nav__toggle {
  display: none;
}
.main-nav__list {
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
  }
}
.main-nav__toggle {
  margin-left: 90px;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 10;
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--opened .main-nav__toggle {
  top: -45px;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  position: absolute;
  content: "";
  z-index: 10;
  top: 7px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--closed .main-nav__toggle {
  top: 22px;
}
.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.site-list a {
  background: #ffffff;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
}
.site-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.site-list a:active {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) and (max-width: 1439px) {
  .site-list a {
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .site-list--contrast a {
    background: transparent;
    color: #ffffff;
  }
  .site-list--contrast a:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  .site-list--contrast a:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 1440px) {
  .site-list--contrast .site-list__item--active::after {
    background-color: #ffffff;
  }
}
.site-list__item {
  margin: 0;
  position: relative;
}
@media (max-width: 767px) {
  .site-list__item {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .site-list__item::after,
  .site-list__item:first-child::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    background-color: #e6e6e6;
  }
  .site-list__item::after {
    top: 47px;
  }
  .site-list__item:first-child::before {
    top: -22px;
  }
}
@media (min-width: 768px) {
  .site-list__item {
    padding-bottom: 10px;
  }
  .site-list__item:not(:last-child) {
    margin-right: 35px;
  }
  .site-list__item--active::after {
    position: absolute;
    content: "";
    z-index: 10;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #68b738;
  }
}
.main-container {
  grid-column: 1/-1;
  grid-row: 2/3;
}
@media (min-width: 1440px) {
  .main-container--cat {
    margin-top: -141px;
  }
}
@media (max-width: 767px) {
  .main-container.no-js {
    padding-top: 230px;
  }
}
.promo {
  display: grid;
  grid-template-rows: 300px auto;
  color: #ffffff;
}
@media (min-width: 1440px) {
  .promo {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
.promo .container {
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 50;
  display: grid;
  grid-template-rows: auto auto 40px;
}
@media (min-width: 768px) {
  .promo .container {
    grid-template-rows: auto auto;
  }
}
@media (min-width: 1440px) {
  .promo .container {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    padding-top: 141px;
  }
}
.promo__background {
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: #68b738;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/index-background-mobile@1x.jpg");
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .promo__background {
    background-color: #68b738;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/index-background-mobile@2x.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .promo__background {
    background: #ffffff;
  }
}
@media (min-width: 1440px) {
  .promo__background {
    grid-column: 2/3;
    grid-row: 1/-1;
    background-color: #68b738;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/index-background-desktop@1x.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .promo__background {
    background-color: #68b738;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/index-background-desktop@2x.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
  }
}
.promo__header {
  padding-bottom: 29px;
  margin: 0;
  grid-column: 1/-1;
  grid-row: 1/2;
}
@media (min-width: 768px) {
  .promo__header {
    justify-self: start;
  }
}
@media (min-width: 1440px) {
  .promo__header {
    grid-column: 1/2;
  }
}
.promo__title {
  margin-bottom: 25px;
  text-align: center;
}
@media (min-width: 768px) {
  .promo__title {
    margin-bottom: 41px;
    text-align: left;
  }
}
.promo__slogan {
  text-align: center;
}
@media (min-width: 768px) {
  .promo__slogan {
    margin-bottom: 49px;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .promo__image {
    grid-row: 2/-1;
    grid-column: 1/-1;
    width: 709px;
    height: 609px;
  }
}
@media (min-width: 1440px) {
  .promo__image {
    grid-row: 1/-1;
    grid-column: 2/-1;
    width: 552px;
    height: 499px;
  }
}
.promo__button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: end;
}
@media (min-width: 768px) {
  .promo__button {
    grid-row: 2/3;
    grid-column: 1/-1;
    align-self: start;
    z-index: 100;
  }
}
@media (min-width: 1440px) {
  .promo__button {
    grid-column: 1/2;
  }
}
.section-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
}
.section-title--contrast {
  color: #ffffff;
}
@media (min-width: 768px) {
  .section-title--contrast {
    color: #000000;
  }
}
.promo-text {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo-text {
    color: #000000;
  }
}
.button {
  padding: 8px 44px;
  width: 100%;
  height: 40px;
  background: #68b738;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 768px) {
  .button {
    width: 244px;
    padding: 14px 26px;
  }
}
.button:hover {
  background: #5eaa2f;
}
.button:active {
  background: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
.button--secondary {
  background: #f2f2f2;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
}
.button--secondary:hover {
  background: #ebebeb;
}
.button--secondary:active {
  background: #ebebeb;
  color: rgba(68, 68, 68, 0.3);
}
.effect-info {
  padding: 0;
}
.effect-info__list {
  padding: 0;
  list-style: none;
}
@media (min-width: 1440px) {
  .effect-info__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
.effect-info__item {
  display: grid;
  grid-template-columns: 77px 1fr;
  align-items: center;
  padding: 21px 0 19px 18px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .effect-info__item {
    grid-template-columns: 1fr 288px;
    padding: 21px 0 52px 53px;
    margin-top: 0;
  }
}
@media (min-width: 1440px) {
  .effect-info__item {
    grid-template-columns: 181px 1fr;
    padding: 41px 0 52px 55px;
    margin-top: 82px;
  }
  .effect-info__item:first-child {
    margin-right: 80px;
  }
}
.effect-info__title {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .effect-info__title {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.effect-info__icon {
  grid-column: 1/2;
  grid-row: 1/2;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .effect-info__icon {
    justify-self: end;
  }
  .effect-info__icon--slim {
    width: 211px;
  }
  .effect-info__icon--pro {
    width: 268px;
  }
}
@media (min-width: 1440px) {
  .effect-info__icon {
    justify-self: start;
  }
  .effect-info__icon--slim {
    width: 100px;
  }
  .effect-info__icon--pro {
    width: 134px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .effect-info__icon {
    grid-column: 2/3;
    grid-row: 1/4;
  }
}
.effect-info__description {
  grid-column: 1/-1;
  margin: 22px 0 15px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
  color: #444444;
}
@media (min-width: 768px) {
  .effect-info__description {
    border: none;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .effect-info__description {
    grid-column: 1/2;
  }
}
.effect-info__link {
  grid-column: 1/-1;
  padding: 4px 0;
  width: 132px;
  height: 25px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .effect-info__link {
    width: 165px;
    height: 38px;
  }
}
@media (min-width: 1440px) {
  .effect-info__link {
    width: 168px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .effect-info__link {
    grid-column: 1/2;
  }
}
.section-subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.08;
}
.section-subtitle--big {
  text-transform: uppercase;
  line-height: 1.54;
}
.to-catalog-link {
  padding: 4px 0;
  width: 134px;
  min-height: 24px;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  background: url("/img/icons/icon_arrow.svg") 100px 50% no-repeat;
}
.to-catalog-link:hover,
.to-catalog-link:active {
  background-image: url("/img/icons/icon__arrow-hover.svg");
}
.to-catalog-link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .to-catalog-link {
    width: 165px;
    min-height: 38px;
    background-position: 132px 50%;
  }
}
@media (min-width: 1440px) {
  .to-catalog-link {
    width: 168px;
  }
}
.usage {
  font-family: "Arial", sans-serif;
}
.usage__title {
  margin: 20px 0 42px 0;
}
.usage__list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  counter-reset: usage;
}
@media (min-width: 768px) {
  .usage__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 37px 153px;
  }
}
@media (min-width: 1440px) {
  .usage__list {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 94px;
  }
}
.usage__item {
  position: relative;
  padding-left: 80px;
  counter-increment: usage;
}
.usage__item::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  left: 0;
  background: #68b738 center no-repeat;
}
@media (min-width: 768px) {
  .usage__item::before {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}
.usage__item--leaf::before {
  background-image: url("../../img/icons/icon_leaf.svg");
}
.usage__item--tub::before {
  background-image: url("../../img/icons/icon_tub.svg");
}
.usage__item--eat::before {
  background-image: url("../../img/icons/icon_eat.svg");
}
.usage__item--alarm::before {
  background-image: url("../../img/icons/icon_alarm.svg");
}
@media (min-width: 768px) {
  .usage__item {
    padding: 150px 0 57px 0;
  }
  .usage__item::after {
    content: counter(usage);
    position: absolute;
    top: -15px;
    right: -8px;
    z-index: -1;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 1;
    color: #f2f2f2;
  }
}
.usage__description {
  margin: 4px 0;
}
.example .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "e-title" "e-text" "e-stats" "e-slider";
}
@media (min-width: 1440px) {
  .example .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "e-title e-slider" "e-text e-slider" "e-stats e-slider";
    column-gap: 193px;
  }
}
.example__title {
  margin: 74px 0 40px 0;
  grid-area: e-title;
}
@media (min-width: 768px) {
  .example__title {
    margin: 90px 0 63px 0;
  }
}
@media (min-width: 1440px) {
  .example__title {
    margin: 69px 0 146px 0;
  }
}
.example__description {
  margin-bottom: 20px;
  color: #444444;
  grid-area: e-text;
}
.example__stats {
  grid-area: e-stats;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__stats {
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .example__stats {
    margin-bottom: 69px;
  }
}
.example__cost-info {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}
.example__visualisation {
  margin: 40px 0 40px 0;
  grid-area: e-slider;
}
@media (min-width: 1440px) {
  .example__visualisation {
    justify-self: end;
  }
}
.stats {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .stats {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }
}
.stats__list {
  display: flex;
  justify-content: center;
}
.stats__item:not(:last-child) {
  margin-right: 32px;
}
.stats__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}
.stats__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #444444;
}
@media (max-width: 767px) {
  .stats__description {
    display: inline-block;
    min-height: 24px;
    width: 77px;
  }
}
.stats__cost-info {
  justify-self: center;
  grid-column: 1/-1;
  grid-row: 2/3;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .stats__cost-info {
    justify-self: end;
    grid-column: 2/-1;
    grid-row: 1/2;
  }
}
.stats-data {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  width: 124px;
  height: 70px;
}
@media (min-width: 768px) {
  .stats-data {
    width: 162px;
    height: 77px;
  }
}
.stats-data__border {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 14px;
  z-index: 10;
}
@media (min-width: 768px) {
  .stats-data__border {
    width: 162px;
    height: 72px;
  }
}
.visualisation__items {
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .visualisation__image {
    width: 592px;
    height: 511px;
  }
}
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}
@media (min-width: 1440px) {
  .slider {
    justify-content: space-between;
  }
}
.slider.no-js .slider__item--after {
  display: block;
}
.slider.no-js .slider__buttons {
  display: none;
}
.slider__items {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.slider__item {
  width: 100%;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .slider__item {
    display: block;
  }
}
.slider__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 210px;
  margin: 15px 35px 0 35px;
}
@media (min-width: 768px) {
  .slider__buttons {
    min-width: 592px;
    margin: 15px 0 0 0;
  }
}
.slider__control-area {
  position: relative;
  width: 86px;
  height: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}
@media (max-width: 767px) {
  .slider__control-area {
    padding: 6px 4px;
  }
}
@media (min-width: 768px) {
  .slider__control-area {
    width: 426px;
    height: 6px;
    border: none;
    background-color: #cdcdcd;
  }
}
.slider__control {
  position: absolute;
}
.slider__control--mobile {
  top: 3px;
}
@media (min-width: 768px) {
  .slider__control--mobile {
    display: none;
  }
}
.slider__control--tablet {
  left: calc(50% - 20px);
  top: -15px;
  stroke: #cdcdcd;
}
.slider__control--tablet:hover {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
}
.slider__control--tablet:active {
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
  stroke: #68b738;
}
@media (max-width: 767px) {
  .slider__control--tablet {
    display: none;
  }
}
.slider__control--after {
  transform: translateX(40px);
}
@media (min-width: 768px) {
  .slider__control--after {
    transform: translateX(140px);
  }
}
.slider__control--before {
  transform: translateX(0);
}
@media (min-width: 768px) {
  .slider__control--before {
    transform: translateX(-140px);
  }
}
.slider__button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
.slider__button::after {
  position: relative;
  content: "";
  z-index: 10;
  bottom: -7px;
  right: 0;
  left: 0;
  width: 45px;
  height: 2px;
  background-image: url("../../../img/underline.svg");
}
.slider__button:hover::after {
  background-image: url("../../../img/underline-hover.svg");
}
.slider__button:active::after {
  background: none;
}
.footer {
  grid-column: 1/-1;
  grid-row: 3/4;
}
@media (min-width: 1440px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
@media (min-width: 1440px) {
  .footer > .container {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}
@media (min-width: 1440px) {
  .contacts {
    width: 565px;
    height: 198px;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .footer__map {
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: -10;
  }
}
.footer__info {
  margin: 57px 0;
}
@media (min-width: 1440px) {
  .footer__info {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
.footer__info .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer__info .container {
    flex-direction: row;
  }
}
.footer__logo-link {
  display: flex;
  justify-content: center;
  padding: 39px 0 32px 0;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .footer__logo-link {
    display: flex;
    justify-content: center;
    padding: 0;
    border-bottom: none;
  }
}
.footer__social {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .footer__social {
    display: flex;
    justify-content: center;
    padding: 0;
    border-bottom: none;
    align-items: center;
  }
}
.footer__copyright-link {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
  border-bottom: 1px solid #d9d9d9;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__copyright-link {
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-bottom: none;
    width: 163px;
  }
}
.contacts__info {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;
}
@media (min-width: 768px) {
  .contacts__info {
    padding: 60px 0 56px 40px;
  }
}
@media (min-width: 1440px) {
  .contacts__info {
    padding: 56px 80px;
  }
}
.contacts__partnership-text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
}
.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #444444;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .contacts__address {
    text-align: right;
  }
}
.social__list {
  padding: 0;
  list-style: none;
  width: 132px;
  display: flex;
  justify-content: space-between;
}
.social__link:hover .social__icon {
  stroke: #68b738;
}
.social__link:active .social__icon {
  opacity: 0.3;
}
.copyright {
  font-size: 16px;
  line-height: 1.13;
  color: #444444;
}
.copyright:active {
  opacity: 0.3;
}
.copyright:hover .copyright__logo {
  fill: #68b738;
}
.copyright__logo {
  fill: currentColor;
}
.program {
  padding: 44px 0 32px 0;
}
.program__title {
  margin-bottom: 37px;
}
.program__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  width: 240px;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .program__description {
    font-size: 20px;
    width: 340px;
  }
}
.program__form {
  margin: 0;
}
.form {
  padding: 0;
}
.form__wrapper {
  box-sizing: content-box;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form__wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .form__wrapper {
    padding: 0 110px;
  }
}
@media (min-width: 768px) {
  .form__wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .form__wrapper {
    padding: 0 110px;
  }
}
@media (min-width: 1440px) {
  .form__wrapper--columns {
    flex-direction: row;
    margin-bottom: 65px;
  }
}
.form__user-info {
  flex-grow: 1;
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .form__user-info {
    margin-bottom: 72px;
  }
}
@media (min-width: 1440px) {
  .form__user-info {
    margin-right: 80px;
  }
}
.form__program-choice {
  flex-grow: 1;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .form__program-choice {
    margin-bottom: 72px;
  }
}
.form__contacts {
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .form__contacts {
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .form__contacts {
    margin-bottom: 69px;
  }
}
.form__comments {
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .form__comments {
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .form__comments {
    margin-bottom: 67px;
  }
}
.form__additional-info {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .form__additional-info {
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .form__additional-info {
    margin-bottom: 61px;
  }
}
.form__footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .form__footer {
    flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .form__submit {
    margin-bottom: 21px;
  }
}
.form__legend {
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .form__legend {
    margin-left: 61px;
  }
}
@media (min-width: 1440px) {
  .form__legend {
    margin-left: 81px;
  }
}
.input {
  height: 45px;
  padding: 13px 15px;
  border: 1px solid #e7e7e7;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: #444444;
}
.input:hover {
  border: 1px solid #cdcdcd;
}
.input:focus {
  border: 2px solid #444444;
}
.input:focus:invalid {
  border: 2px solid #ff8282;
}
.user-info {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-info__field {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: #444444;
  display: flex;
  align-items: center;
}
.user-info__field:not(:last-child) {
  margin-bottom: 12px;
}
.user-info__label {
  margin-right: 13px;
  white-space: nowrap;
}
.user-info__input {
  flex-grow: 1;
}
.program-choice {
  border: none;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: #222222;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .program-choice {
    padding: 25px 28px;
  }
}
.program-choice__field {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 3px 0 0 45px;
}
.program-choice__field:not(:last-child) {
  margin-bottom: 13px;
}
.program-choice__option {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.program-choice__indicator {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background-image: url("/img/inputs/radiobutton.svg");
  background-repeat: no-repeat;
}
.program-choice__option:checked ~ .program-choice__indicator::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 8px;
  left: 8px;
  background-image: url("/img/inputs/radiobutton-checked.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts-form {
  border: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
.contacts-form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 35px;
}
@media (min-width: 768px) {
  .contacts-form__wrapper {
    margin-top: 76px;
  }
}
@media (min-width: 1440px) {
  .contacts-form__wrapper {
    flex-direction: row;
  }
}
.contacts-form__title {
  margin-bottom: 35px;
}
.contacts-form__field {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: #444444;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts-form__field:not(:last-child) {
  margin-bottom: 14px;
}
@media (min-width: 1440px) {
  .contacts-form__field:not(:last-child) {
    margin-bottom: 0;
    margin-right: 78px;
  }
}
@media (min-width: 1440px) {
  .contacts-form__field {
    flex-grow: 1;
  }
}
.contacts-form__label {
  white-space: nowrap;
}
.contacts-form__icon {
  position: relative;
  left: -35px;
}
.contacts-form__icon--email {
  stroke: #222222;
}
.contacts-form__icon--phone {
  fill: #000000;
}
.contacts-form__input {
  flex-grow: 1;
  margin-left: 10px;
}
.contacts-form__input:focus ~ .contacts-form__icon--email {
  stroke: #68b738;
}
.contacts-form__input:focus ~ .contacts-form__icon--phone {
  fill: #68b738;
}
.contacts-form__input:focus:invalid ~ .contacts-form__icon--email {
  stroke: #FF8282;
}
.contacts-form__input:focus:invalid ~ .contacts-form__icon--phone {
  fill: #FF8282;
}
@media (min-width: 768px) {
  .contacts-form__input {
    margin-left: 15px;
  }
}
.comments {
  border: none;
  padding: 0;
}
.comments__wrapper {
  margin-top: 35px;
}
@media (min-width: 768px) {
  .comments__wrapper {
    margin-top: 76px;
  }
}
.comments__title {
  margin-bottom: 37px;
}
.comments__field {
  padding-top: 9px;
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  border: none;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .comments__field {
    text-align: left;
    padding-left: 19px;
  }
}
.additional-info {
  border: none;
  padding: 0;
}
.additional-info__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 35px;
}
@media (min-width: 768px) {
  .additional-info__wrapper {
    grid-template-columns: 1fr 1fr;
    margin-top: 57px;
  }
}
@media (min-width: 1440px) {
  .additional-info__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
.additional-info__title {
  margin-bottom: 34px;
}
.additional-info__field {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 5px 0 0 45px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: #000000;
}
.additional-info__field:not(:last-child) {
  margin-bottom: 12px;
}
.additional-info__option {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.additional-info__indicator {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background-image: url("/img/inputs/checkbox.svg");
  background-repeat: no-repeat;
}
.additional-info__option:checked ~ .additional-info__indicator::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 14px;
  top: 8px;
  left: 6px;
  background-image: url("/img/inputs/checkbox-checked.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.catalog {
  padding: 27px 0 25px 0;
}
.catalog__title {
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .catalog__title {
    margin-bottom: 82px;
  }
}
.product-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 19px;
}
@media (min-width: 768px) {
  .product-list {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}
.product-list__item {
  margin: 0;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #444444;
}
.product-list__item:last-child {
  margin-top: 17px;
}
@media (min-width: 1440px) {
  .product-list__item:last-child {
    margin-top: 0;
  }
}
.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "card-img card-title" "card-img card-info" "card-btn card-btn";
  justify-content: center;
  align-items: center;
  padding: 11px 0 14px 0;
}
@media (min-width: 768px) {
  .product-card {
    padding: 0 38px 39px 38px;
  }
}
@media (min-width: 768px) {
  .product-card {
    grid-template-columns: 1fr;
    grid-template-areas: "card-img" "card-title" "card-info" "card-btn";
  }
}
.product-card__title {
  grid-area: card-title;
  margin-bottom: 18px;
}
@media (max-width: 767px) {
  .product-card__title {
    justify-self: start;
  }
}
@media (min-width: 768px) {
  .product-card__title {
    margin-bottom: 21px;
  }
}
.product-card__info.info-list {
  grid-area: card-info;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .product-card__info.info-list {
    margin-bottom: 33px;
  }
}
.product-card__order-button {
  grid-area: card-btn;
  align-self: end;
  margin: 0;
  width: 100%;
}
.product-card__link-img {
  grid-area: card-img;
}
.product-card__image {
  justify-self: center;
  align-self: center;
}
@media (min-width: 768px) {
  .product-card__image {
    margin-bottom: 34px;
    width: 168px;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .product-card__image {
    margin-bottom: 46px;
    width: 172px;
    height: 196px;
  }
}
.card-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
.card-title--additional {
  line-height: 1;
  color: #444444;
}
.card-title__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .card-title__link {
    align-items: center;
  }
}
.info-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .info-list {
    padding-bottom: 9px;
  }
}
.info-list__item {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .info-list__item:not(:last-child) {
    padding-bottom: 2px;
  }
}
@media (min-width: 768px) {
  .info-list__item {
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}
.show-more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
@media (min-width: 768px) {
  .show-more {
    padding-top: 52px;
    padding-bottom: 40px;
  }
}
.show-more::before {
  position: relative;
  content: "";
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("/img/icons/plus.svg");
  background-size: cover;
}
@media (min-width: 768px) {
  .show-more::before {
    width: 60px;
    height: 60px;
  }
}
.show-more__title {
  margin: 23px 0 8px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .show-more__title {
    margin: 49px 0 23px 0;
    width: 140px;
  }
}
.show-more__text {
  margin-top: 0;
  margin-bottom: 21px;
  padding: 0;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #444444;
}
@media (min-width: 768px) {
  .show-more__text {
    margin-bottom: 87px;
    width: 167px;
  }
}
.show-more__button {
  margin: 0;
}
.additional-catalog {
  padding: 25px 0 35px 0;
}
.additional-catalog .container {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 1440px) {
  .additional-catalog .container {
    grid-template-columns: 1fr auto;
    column-gap: 79px;
  }
}
.additional-catalog__title {
  margin-bottom: 36px;
}
@media (min-width: 1440px) {
  .additional-catalog__title {
    grid-column: 1/-1;
  }
}
.additional-catalog__list {
  margin-top: 36px;
}
@media (min-width: 768px) {
  .additional-catalog__list {
    margin-top: 80px;
  }
}
.additional-catalog__promo {
  margin-top: 54px;
}
@media (min-width: 768px) {
  .additional-catalog__promo {
    margin-top: 69px;
  }
}
@media (min-width: 1440px) {
  .additional-catalog__promo {
    margin-top: 0;
    align-self: center;
  }
}
.additional-product-list {
  padding: 0;
  list-style: none;
}
.additional-product-list__item {
  color: #444444;
  border-top: 1px solid #cdcdcd;
}
.additional-product-list__item:last-child {
  border-bottom: 1px solid #cdcdcd;
  margin: 0;
}
.additional-product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a-card-title ." "a-card-info a-card-info" "a-card-btn a-card-btn";
  align-items: start;
  justify-items: start;
  padding: 13px 0 19px 0;
}
@media (min-width: 768px) {
  .additional-product-card {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "a-card-title a-card-info" "a-card-btn a-card-btn";
    column-gap: 17px;
    align-items: center;
    padding-bottom: 28px;
  }
}
@media (min-width: 1440px) {
  .additional-product-card {
    grid-template-columns: 1fr 288px 244px;
    grid-template-areas: "a-card-title a-card-info a-card-btn";
    column-gap: 38px;
    padding-bottom: 17px;
  }
}
.additional-product-card__title {
  grid-area: a-card-title;
}
@media (max-width: 767px) {
  .additional-product-card__title {
    margin-top: 0;
    margin-bottom: 13px;
  }
}
.additional-product-card__info.additional-info-list {
  grid-area: a-card-info;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .additional-product-card__info.additional-info-list {
    margin-bottom: 0;
  }
}
.additional-product-card__info {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .additional-product-card__info {
    justify-self: end;
  }
}
.additional-product-card__order-button {
  grid-area: a-card-btn;
  margin: 0;
  width: 100%;
}
.additional-info-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.additional-info-list__item {
  display: flex;
  justify-content: space-between;
}
.catalog-promo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 290px;
  padding: 58px 0 43px 0;
  background-color: #68b738;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../../img/promo-background-mobile@1x.jpg");
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .catalog-promo {
    background-color: #68b738;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../../img/promo-background-mobile@2x.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .catalog-promo {
    flex-direction: row;
    min-height: 200px;
    padding: 0 77px 0 124px;
  }
}
@media (min-width: 768px) {
  .catalog-promo {
    background-color: #68b738;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../../img/promo-background-tablet@1x.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .catalog-promo {
    background-color: #68b738;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../../img/promo-background-tablet@2x.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
  }
}
@media (min-width: 1440px) {
  .catalog-promo {
    min-width: 245px;
    background-color: #68b738;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../../img/promo-background-desktop@1x.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .catalog-promo {
    background-color: #68b738;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../../img/promo-background-desktop@2x.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
  }
}
.catalog-promo::before {
  position: relative;
  content: "";
  top: 0;
  left: 0;
  width: 78px;
  height: 80px;
  background-image: url("/img/icons/icon_gift.svg");
  background-size: cover;
}
@media (min-width: 768px) {
  .catalog-promo::before {
    width: 80px;
    height: 83px;
  }
}
.catalog-promo__text {
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  width: 161px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .catalog-promo__text {
    text-align: left;
  }
}
.line {
  position: relative;
}
.line::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  height: 2px;
  width: 100%;
  z-index: -1;
  background-color: #68b738;
}
.line__wrapper {
  box-sizing: content-box;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
}
@media (min-width: 768px) {
  .line__wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .line__wrapper {
    padding: 0 110px;
  }
}
@media (min-width: 768px) {
  .line__wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .line__wrapper {
    padding: 0 110px;
  }
}
.line__title {
  display: inline-block;
  background-color: #ffffff;
  padding: 0 20px;
  margin-left: -20px;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
}
@media (min-width: 768px) {
  .line__title {
    padding: 0 40px;
    margin-left: -40px;
  }
}
/*# sourceMappingURL=style.css.map */
