@font-face {
  font-family: "Oswald";
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/oswaldregular.woff2") format("woff2"), url("../../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: medium;
  font-style: normal;
  src: url("../../fonts/oswaldmedium.woff2") format("woff2"), url("../../fonts/oswaldmedium.woff") format("woff");
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  visibility: hidden;
  margin: -1px;
  padding: 0;
  width: 0;
}
.page {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
}
.page__body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0 110px;
  }
}
.main-header {
  grid-row: 1/2;
  background-color: #ffffff;
}
.main-header__logo {
  margin: 12px 0 0 0;
  height: 38px;
}
@media (min-width: 768px) {
  .main-header__logo {
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .main-header__logo {
    height: 59px;
  }
}
.main-header .container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-header .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.main-nav__toggle {
  width: 24px;
  height: 16px;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-nav__list {
    flex-direction: row;
  }
}
.site-list {
  background: #ffffff;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
}
.site-list__item {
  margin: 0;
}
.site-list__item:not(:last-child) {
  margin-bottom: 46px;
}
@media (min-width: 768px) {
  .site-list__item {
    margin-bottom: 0;
  }
  .site-list__item:not(:last-child) {
    margin-right: 35px;
  }
}
.main-container {
  grid-row: 2/3;
}
.promo {
  display: grid;
  grid-template-rows: 300px auto;
  color: #ffffff;
}
@media (min-width: 1440px) {
  .promo {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
.promo .container {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 100;
  display: grid;
  grid-template-rows: auto auto 40px;
}
@media (min-width: 768px) {
  .promo .container {
    grid-template-rows: auto auto;
  }
}
@media (min-width: 1440px) {
  .promo .container {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
  }
}
.promo__background {
  grid-column: 1/-1;
  grid-row: 1/2;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/index-background-desktop@1x.jpg");
  background-size: cover, cover;
  background-position: no-repeat, no-repeat;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .promo__background {
    background: #ffffff;
  }
}
@media (min-width: 1440px) {
  .promo__background {
    grid-column: 2/3;
    grid-row: 1/-1;
  }
}
.promo__header {
  padding: 27px 0 29px 0;
  margin: 0;
  grid-column: 1/-1;
  grid-row: 1/2;
}
@media (min-width: 1440px) {
  .promo__header {
    grid-column: 1/2;
  }
}
.promo__title {
  margin-bottom: 25px;
  text-align: center;
}
.promo__slogan {
  text-align: center;
}
@media (min-width: 768px) {
  .promo__image {
    grid-row: 2/-1;
    grid-column: 1/-1;
  }
}
@media (min-width: 1440px) {
  .promo__image {
    grid-row: 1/-1;
    grid-column: 2/-1;
  }
}
.promo__button {
  display: block;
  align-self: end;
}
@media (min-width: 768px) {
  .promo__button {
    grid-row: 2/3;
    grid-column: 1/-1;
    align-self: start;
    z-index: 100;
  }
}
@media (min-width: 1440px) {
  .promo__button {
    grid-column: 1/2;
  }
}
.section-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
}
.section-title--contrast {
  color: #ffffff;
}
@media (min-width: 768px) {
  .section-title--contrast {
    color: #000000;
  }
}
.promo-text {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo-text {
    color: #000000;
  }
}
.button {
  box-sizing: border-box;
  padding: 8px 44px;
  width: 100%;
  height: 40px;
  background: #68b738;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 768px) {
  .button {
    width: 244px;
  }
}
.button:hover {
  background: #5eaa2f;
}
.button:active {
  background: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
.button--secondary {
  background: #f2f2f2;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
}
.button--secondary:hover {
  background: #ebebeb;
}
.button--secondary:active {
  background: #ebebeb;
  color: rgba(68, 68, 68, 0.3);
}
.effect-info {
  padding: 0;
}
.effect-info__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.effect-info__item {
  padding: 0 18px 19px 18px;
  margin-top: 20px;
}
@media (min-width: 1440px) {
  .effect-info__item {
    flex-basis: 570px;
  }
}
.effect-info__title {
  margin-top: 30px;
}
.effect-info__description {
  margin: 29px 33px 28px 20px;
  color: #444444;
}
.effect-info__link {
  margin-left: 19px;
  margin-bottom: 18px;
}
.section-subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.08;
}
.section-subtitle--big {
  text-transform: uppercase;
  line-height: 1.54;
}
.to-catalog-link {
  padding: 4px 0;
  width: 134px;
  height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
.to-catalog-link:active {
  color: rgba(0, 0, 0, 0.3);
}
.usage {
  font-family: "Arial", sans-serif;
}
.usage__title {
  margin: 20px 0 42px 0;
}
.usage__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}
@media (min-width: 768px) {
  .usage__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 37px 153px;
  }
}
@media (min-width: 1440px) {
  .usage__list {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 94px;
  }
}
.example .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "e-title" "e-text" "e-stats" "e-slider";
}
@media (min-width: 1440px) {
  .example .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "e-title e-slider" "e-text e-slider" "e-stats e-slider";
  }
}
.example__title {
  margin: 74px 0 40px 0;
  grid-area: e-title;
}
.example__description {
  margin-bottom: 20px;
  grid-area: e-text;
}
.example__stats {
  grid-area: e-stats;
}
.example__cost-info {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}
.example__visualisation {
  margin: 40px 0 40px 0;
  grid-area: e-slider;
}
@media (min-width: 1440px) {
  .example__visualisation {
    justify-self: end;
  }
}
.stats {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .stats {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }
}
.stats__list {
  display: flex;
}
.stats__item:not(:last-child) {
  margin-right: 32px;
}
.stats__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}
.stats__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #444444;
}
.stats__cost-info {
  justify-self: center;
  grid-column: 1/-1;
  grid-row: 2/3;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .stats__cost-info {
    justify-self: end;
    grid-column: 2/-1;
    grid-row: 1/2;
  }
}
.stats-data {
  padding-top: 14px;
  width: 124px;
  height: 70px;
}
/* stylelint-disable block-no-empty*/
.visualisation__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider {
  padding: 40px 0;
}
.slider__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider__item {
  width: 100%;
  margin-bottom: 15px;
}
.slider__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
.main-footer {
  grid-row: 3/4;
}
@media (min-width: 1440px) {
  .main-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
@media (min-width: 1440px) {
  .main-footer > .container {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}
@media (min-width: 1440px) {
  .main-footer__contacts {
    width: 565px;
    height: 198px;
    background-color: #ffffff;
  }
}
.main-footer__map {
  width: 100%;
}
@media (min-width: 1440px) {
  .main-footer__map {
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: -10;
  }
}
.main-footer__info {
  margin: 57px 0;
}
@media (min-width: 1440px) {
  .main-footer__info {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
.main-footer__info .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .main-footer__info .container {
    flex-direction: row;
  }
}
.main-footer__logo {
  margin-bottom: 52px;
}
.main-footer__social {
  margin-bottom: 43px;
}
.main-footer__copyright {
  display: flex;
  align-items: center;
}
.contacts__info {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;
}
.contacts__partnership-text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
}
.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #444444;
}
.social {
  display: flex;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* stylelint-disable block-no-empty*/
.copyright__link {
  font-size: 16px;
  line-height: 1.13;
  color: #444444;
}
.program {
  padding: 44px 0 32px 0;
}
.program__title {
  margin-bottom: 37px;
}
.program__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  margin-bottom: 39px;
}
.program__form {
  margin: 0;
}
.form {
  padding: 0;
}
.form__user-info {
  margin-bottom: 49px;
}
.form__program-choice {
  margin-bottom: 45px;
}
.form__contacts {
  margin-bottom: 24px;
}
.form__comments {
  margin-bottom: 23px;
}
.form__additional-info {
  margin-bottom: 34px;
}
.form__footer {
  margin-bottom: 32px;
}
.form__submit {
  margin-bottom: 21px;
}
.form__legend {
  margin: 0;
  text-align: center;
}
.input {
  height: 45px;
  border: 1px solid #e7e7e7;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: #444444;
}
.input:hover {
  border: 1px solid #cdcdcd;
}
.input:focus {
  border: 2px solid #444444;
}
/* stylelint-disable block-no-empty*/
.user-info {
  border: none;
  padding: 0;
}
.user-info__field {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: #444444;
}
.user-info__field:not(:last-child) {
  margin-bottom: 12px;
}
.program-choice {
  border: none;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: #222222;
}
.program-choice__field:not(:last-child) {
  margin-bottom: 13px;
}
.program-choice__option {
  display: none;
}
/* stylelint-disable block-no-empty*/
.contacts-form {
  border: none;
  padding: 0;
}
.contacts-form__title {
  margin-bottom: 35px;
}
.contacts-form__field:not(:last-child) {
  margin-bottom: 14px;
}
.comments {
  border: none;
  padding: 0;
}
.comments__title {
  margin-bottom: 37px;
}
.comments__field {
  padding-top: 9px;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  border: none;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: #444444;
}
.additional-info {
  border: none;
  padding: 0;
}
.additional-info__title {
  margin-bottom: 34px;
}
.additional-info__field:not(:last-child) {
  margin-bottom: 12px;
}
.additional-info__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: #000000;
}
.additional-info__input {
  display: none;
}
.catalog {
  padding: 27px 0 25px 0;
}
.catalog__title {
  margin-bottom: 49px;
}
.product-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.product-list__item {
  margin: 0;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #444444;
}
.product-list__item:last-child {
  margin-top: 36px;
}
.product-card {
  padding: 11px 0 14px 0;
}
.product-card__title {
  margin-bottom: 14px;
}
.product-card__info {
  padding-bottom: 9px;
  margin-bottom: 13px;
}
.product-card__order-button {
  margin: 0;
}
.card-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  text-transform: uppercase;
  color: #222222;
}
.info-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.info-list__item:not(:last-child) {
  margin-bottom: 2px;
}
.show-more {
  padding: 0;
}
.show-more__title {
  margin: 23px 0 8px 0;
}
.show-more__text {
  margin-bottom: 21px;
  padding: 0;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #444444;
}
.show-more__button {
  margin: 0;
}
.additional-catalog {
  padding: 25px 0 35px 0;
}
.additional-catalog__title {
  margin-bottom: 36px;
}
.additional-catalog__promo {
  margin: 35px 0;
}
.additional-product-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.additional-product-list__item {
  padding: 13px 0 19px 0;
  border-top: 1px solid #cdcdcd;
}
.additional-product-list__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}
.catalog-promo {
  height: 299px;
  padding: 0;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../../img/promo-image@1x.jpg");
  background-size: cover, cover;
  background-position: no-repeat, no-repeat;
}
.catalog-promo__text {
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */
