a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  visibility: hidden;
  margin: -1px;
  padding: 0;
  width: 0;
}
